[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/changyihsin (vincentnctu)
[access "refs/for/refs/*"]
	read = group user/changyihsin (vincentnctu)
	push = group user/changyihsin (vincentnctu)
	label-Code-Review = -2..+2 group user/changyihsin (vincentnctu)
	label-Verified = -1..+1 group user/changyihsin (vincentnctu)
	rebase = group user/changyihsin (vincentnctu)
	removeReviewer = group user/changyihsin (vincentnctu)
	submit = group user/changyihsin (vincentnctu)
[access "refs/heads/*"]
	read = group user/changyihsin (vincentnctu)
	create = group user/changyihsin (vincentnctu)
	push = +force group user/changyihsin (vincentnctu)
	pushMerge = group user/changyihsin (vincentnctu)
[access "refs/tags/*"]
	push = +force group user/changyihsin (vincentnctu)
	pushTag = group user/changyihsin (vincentnctu)
	pushSignedTag = group user/changyihsin (vincentnctu)
